<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css'>
    <script src="https://ajax.googleapis.com/ajax/lib/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.main.js"></script>
</head>

<body>

    <!-- <p>Welcome to <%= title %></p> -->

    <div class="container">
        <div class="row">
            <h1>Password Category List</h1><br>
            <table class="table table-striped table-primary">
                <thead>
                    <tr>
                        <th>Password Category Name</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>GoDaddy</td>

                        <td><a class="btn btn-primary btn-xs" href="/edit/"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-danger btn-xs" href="/delete/"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</body>

</html>